<main class="flex items-center justify-center h-screen">
  <div class="bg-white rounded-lg shadow border-gray-200 border px-6 py-8 lg:w-[700px]">
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
      <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
        Sign up
      </h1>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "w-full flex flex-col gap-4" }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="w-full flex flex-col">
          <%= f.label :name, class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= f.text_field :name, autofocus: true, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
        </div>

        <div class="w-full flex flex-col">
          <%= f.label :last_name, class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= f.text_field :last_name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
        </div>

        <div class="w-full flex flex-col">
          <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
        </div>

        <div class="w-full flex flex-col">
          <%= f.label :password, class: "block text-sm font-medium text-gray-900" %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
        </div>

        <div class="w-full flex flex-col">
          <%= f.label :password_confirmation, class: "block mb-2 text-sm font-medium text-gray-900" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
        </div>

        <div class="actions">
          <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-fit cursor-pointer">Sign up</button>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</main>