<nav
    class="z-20 flex shrink-0 grow-0 justify-around gap-4 border-t border-gray-200 bg-white/50 p-2.5 shadow-lg backdrop-blur-lg fixed top-2/4 -translate-y-2/4 left-6 min-h-[auto] min-w-[64px] flex-col rounded-lg border text-white"
    >
    <%= link_to root_path, class: "flex aspect-square min-h-[32px] w-16 flex-col items-center justify-center gap-1 rounded-md p-1.5 text-stone-900 hover:text-blue-700" do %>
        <!-- HeroIcon - User -->
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 21v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21m0 0h4.5V3.545M12.75 21h7.5V10.75M2.25 21h1.5m18 0h-18M2.25 9l4.5-1.636M18.75 3l-1.5.545m0 6.205 3 1m1.5.5-1.5-.5M6.75 7.364V3h-3v18m3-13.636 10.5-3.819" />
        </svg>
        <small class="text-center text-xs font-medium"> Home </small>
    <% end %>
    <% if user_signed_in? %>
        <%= link_to "/blog_posts/new", class: "flex aspect-square min-h-[32px] w-16 flex-col items-center justify-center gap-1  rounded-md p-1.5 text-stone-900 hover:text-blue-700" do %>
            <!-- HeroIcon - User -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"    class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>

            <small class="text-center text-xs font-medium"> New post </small>
        <% end %>
        <%= link_to edit_user_registration_path, class: "flex aspect-square min-h-[32px] w-16 flex-col items-center justify-center gap-1  rounded-md p-1.5 text-stone-900 hover:text-blue-700" do %>
            <!-- HeroIcon - User -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
            </svg>

            <small class="text-center text-xs font-medium"> Profile </small>
        <% end %>
        <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "flex aspect-square min-h-[32px] w-16 flex-col items-center justify-center gap-1  rounded-md p-1.5 text-stone-900 hover:text-blue-700" do %>
            <!-- HeroIcon - User -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
            </svg>
          
            <small class="text-center text-xs font-medium"> Logout </small>
        <% end %>
    <% else %>
        <%= link_to new_user_session_path, class: "flex aspect-square min-h-[32px] w-16 flex-col items-center justify-center gap-1  rounded-md p-1.5 text-stone-900 hover:text-blue-700" do %>
            <!-- HeroIcon - User -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15M12 9l3 3m0 0-3 3m3-3H2.25" />
            </svg>

            <small class="text-center text-xs font-medium"> Login </small>
        <% end %>
    <% end %>
</nav>
