<main class="w-full flex flex-col items-center">
  <div class="w-1/2 my-12">
    <% if @blog_posts != nil %>
      <% @blog_posts.each do |post| %>
      <div class="w-full flex py-12 px-4 justify-center border-b border-neutral-200">
        <div class="w-full flex gap-2 flex-col">
          <h1 class="text-4xl font-extrabold text-blue-900">
            <%= link_to post.title, post %>
          </h1>
          <div class="flex items-center gap-4">
            <div class="flex gap-2 font-bold text-stone-600">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>
              <%= post.created_at.strftime("%d %B %Y %H:%M") %>
            </div>
            <div class="flex gap-2 font-bold text-stone-600">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
              </svg>
              <%= post.updated_at.strftime("%d %B %Y %H:%M") %>
            </div>
            <div class="flex gap-2 items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>

            <% if post.user %>
              <%= "#{post.user.name} #{post.user.last_name}" %>
            <% else %>
              <%= "Unknown User" %>
            <% end %>
        </div>
          </div>
          <p class="line-clamp-3">
            <%= post.body %>
          </p>
        </div>
      </div>
    <% end %>

    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    <%else%>
      <span class="text-3xl pb-4 flex justify-center">No blog posts yet!</span>
    <%end%>
  </div>
</main>