<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= csp_meta_tag %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <%= favicon_link_tag 'blogging_1187544.png', type: 'image/png' %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <%= render "home/header" %>
  <% if alert %>
    <%= render 'layouts/alert' %>
  <% end %>
  <% if notice %>
    <%= render 'layouts/notice' %>
  <% end %>
  
  <%= yield %>

</body>
</html>